/*fade*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/*fade*/
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(0.2rem);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

.el-upload input[type="file"] {
  display: none !important;
}

.el-upload__input {
  display: none;
}

.el-table thead {
  font-size: 0.14rem;
  color: #333;
}

.cell {
  text-align: center;
}

.el-table th.is-leaf {
  border-color: #aaa;
}

.el-date-editor .el-range-separator {
  width: 8%;
}

.el-button {
  text-align: center;
  line-height: 1;
}

.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

.el-menu, .el-submenu {
  overflow: hidden;
}

.user-dropdown {
  z-index: 20001 !important;
}

.el-dropdown-menu__item {
  text-align: center;
}

.el-submenu__title {
  height: 50px;
}

.upload-container .el-upload {
  width: 100%;
}

.upload-container .el-upload .el-upload-dragger {
  width: 100%;
  height: 2rem;
}

.el-table--border, .el-table--group {
  border: 1px solid  #666;
}

.el-message__icon, .el-icon-error, .el-message__icon::before {
  content: '';
}

.el-pagination__sizes {
  margin-right: 1rem;
}

.el-popover {
  color: #8f949a;
  font-size: 0.13rem;
  line-height: 0.22rem;
}

.el-popover__title {
  font-weight: bold;
  height: 0.3rem;
  line-height: 0.3rem;
  border-bottom: 1px solid #D3D3D3;
  color: #8f949a;
}

.el-table td, .el-table th.is-leaf {
  border-color: #D3D3D3;
}

.el-table td:nth-last-child(1), .el-table th.is-leaf:nth-last-child(1) {
  border-right: 0;
}

.el-dialog__wrapper {
  z-index: 20000 !important;
  left: 170px;
  top: 143px;
}

.el-dialog--center {
  margin-top: 1vh !important;
}

.el-table__row td {
  padding: 0.05rem  0;
}

.el-table thead {
  color: #555555;
  font-size: 0.15rem;
}

.el-upload {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px dashed #99a9bf;
  border-radius: 0.06rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.el-dialog__header {
  background: #f2f1f1;
  color: #345;
  padding-top: 0.2rem;
}

.el-dialog__title {
  color: #333;
}

.el-checkbox {
  font-size: 0.12rem;
  height: 0.4rem;
  line-height: 0.4rem;
}

.el-form-item__label {
  padding-right: 0.3rem !important;
}

.el-checkbox-button .el-checkbox-button__inner {
  border: 1px solid #dcdfe6;
  border-radius: 0.05rem !important;
  width: 100px;
  height: 30px;
  font-size: 0.16rem;
  line-height: 30px;
  padding: 0;
  text-align: center;
}

.el-tooltip__popper {
  max-width: 3rem !important;
}

.el-message {
  z-index: 25000 !important;
}

.el-select-dropdown {
  z-index: 20000 !important;
}

.el-radio-button__inner {
  border: 1px solid #dcdfe6;
  border-radius: 4px !important;
  width: 80px;
}

#app .sub-container {
  min-height: 100%;
  transition: margin-left 0.28s;
  margin-left: 170px;
}

#app .sidebar-container {
  transition: width 0.28s;
  width: 170px;
  height: 100%;
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  z-index: 20000;
}

#app .sidebar-container a {
  display: inline-block;
  width: 100%;
}

#app .sidebar-container .svg-icon {
  margin-right: 16px;
}

#app .sidebar-container .el-menu {
  border: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#app .hideSidebar .sidebar-container, #app .hideSidebar .sidebar-container .el-menu {
  width: 36px !important;
}

#app .hideSidebar .sub-container {
  margin-left: 36px;
}

#app .hideSidebar .submenu-title-noDropdown {
  padding-left: 10px !important;
  position: relative;
}

#app .hideSidebar .submenu-title-noDropdown span {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  opacity: 0;
  display: inline-block;
}

#app .hideSidebar .submenu-title-noDropdown:hover span {
  display: block;
  border-radius: 0.03rem;
  z-index: 1002;
  width: 140px;
  height: 50px;
  line-height: 50px;
  visibility: visible;
  position: absolute;
  right: -145px;
  text-align: left;
  text-indent: 20px;
  top: 0;
  background-color: #1f2d3d !important;
  opacity: 1;
}

#app .hideSidebar .el-submenu > .el-submenu__title {
  padding-left: 10px !important;
  height: 50px;
}

#app .hideSidebar .el-submenu > .el-submenu__title > span {
  display: none;
}

#app .hideSidebar .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
  display: none;
}

#app .hideSidebar .el-submenu .nest-menu .el-submenu__icon-arrow {
  display: block !important;
}

#app .hideSidebar .el-submenu .nest-menu span {
  display: inline-block !important;
}

#app .nest-menu .el-submenu > .el-submenu__title,
#app .el-submenu .el-menu-item {
  min-width: 170px !important;
  height: 50px;
  line-height: 50px;
  background-color: #1f2d3d !important;
}

#app .nest-menu .el-submenu > .el-submenu__title:hover,
#app .el-submenu .el-menu-item:hover {
  background-color: #001528 !important;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  font-size: 100px;
}

#app .mainContainer {
  min-height: 100%;
  margin-top: 60px;
}

#app .el-menu-item, #app .el-submenu__title {
  padding: 0 .2rem;
  font-size: .14rem;
}

#app .el-menu-item {
  padding-left: 30px !important;
}

#app .el-submenu > .el-submenu__title {
  padding-left: 20px !important;
}

#app .nest-menu .el-submenu__title {
  padding-left: 30px !important;
}

.settings .el-dialog__headerbtn {
  display: none;
}

#app .el-form-item__label {
  padding: 0 12px 0 0;
  font-size: 0.14rem;
}

#app .el-radio__label {
  font-size: .14rem;
  padding-left: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, dl, dt, dd {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.app-main {
  min-height: 100%;
}

.app-container {
  padding: 20px;
}

.buyVip .payPsw .el-form-item__label {
  width: 1.5rem;
  text-align: right;
}

.buyVip .payPsw .el-form-item__error {
  top: 80%;
  left: 50%;
}

.cash .el-form-item__error {
  left: 12%;
}

.money_color {
  color: #ff0011;
}

.tips_warn {
  color: #f56c6c !important;
  font-size: 12px;
}

.c666 {
  color: #666;
}

.f18 {
  font-size: 0.18rem;
}

.f14 {
  font-size: 0.14rem;
}

.ml40 {
  margin-left: .4rem;
}

.ml10 {
  margin-left: .1rem;
}

.line_through {
  text-decoration: line-through;
}

.text-center {
  text-align: center;
}

.h_title {
  margin: 0;
  padding: 0.2rem  0.4rem;
  border-bottom: 1px solid #666;
  font-size: 0.22rem;
  line-height: 0.4rem;
}

.tableC {
  border-collapse: collapse;
  border: 0;
  margin: auto;
  width: 90%;
  table-layout: fixed;
}

.tableC th, .tableC td {
  padding: 0 0.1rem;
  border: 0;
  text-align: center;
  white-space: normal;
}

.tableC td {
  font-size: 0.12rem;
}

.tableC th {
  height: 30px;
  font-weight: bold !important;
  color: #666;
}

.tableC .thColor {
  background: #cee;
}

.tableC .tbColor {
  background: #fdebd1;
  border-bottom: 1px solid #fbd7a3;
}

.tableC tr:hover > td {
  background: #fdebd1 !important;
}

.subOrder {
  color: #f59c1a !important;
  font-size: 0.12rem;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.w-e-toolbar {
  flex-wrap: wrap !important;
}

.w-e-text-container {
  z-index: 0 !important;
  height: 500px !important;
}

.w-e-menu {
  z-index: 1000 !important;
}

.w-e-droplist, .w-e-list {
  z-index: 20000 !important;
}

.w-e-list:hover .w-e-droplist {
  display: block !important;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(250, 250, 250, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20000;
}

.mask img, .mask video {
  max-height: 60%;
}
