@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  overflow-y: scroll;
  overflow-x:hidden;
}
// div{  overflow-y: scroll; overflow-x:hidden;}
html {
  box-sizing: border-box;
   font-size : 100px;

}
#app .el-menu-item, #app .el-submenu__title{
  //height: .56rem;
  //  line-height: .56rem;
    padding: 0 .2rem;
    font-size: .14rem;

}
#app .el-menu-item{
  padding-left: 40px !important;
}
#app .el-submenu>.el-submenu__title{
  padding-left:20px !important;
}
#app .nest-menu .el-submenu__title{
  padding-left: 40px !important;
}
#app .nest-menu .el-menu .el-menu-item{
  padding-left: 60px !important;
}
#app .el-button{
  //padding: .12rem .2rem ;
}
.settings .el-dialog__headerbtn{display: none}
#app .el-form-item__label{
  padding: 0 12px 0 0;
  font-size: 14px;
}
#app .el-radio__label{    font-size: .14rem;
  padding-left: 10px;}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1,h2,h3,h4,h5,h6,p,dl,dt,dd{
  padding: 0;
  margin : 0;
}
ul,ol{
  list-style: none ;
  padding : 0 ;
  margin : 0;
}
div:focus{
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  min-height: 100%
}

.app-container {
  padding: 20px;
}
 .buyVip .payPsw{
  .el-form-item__label{
    width: 1.5rem;
    text-align:right;
  }
  .el-form-item__error{
    top:80%;
    left: 50%;
  }
}
.cash{
  .el-form-item__error{
    left: 12%;
  }
}
.money_color{color: red}
.c666{color: #666}
.f18{font-size: 0.18rem}
.f14{font-size: 0.14rem}
.ml40{margin-left: .4rem}
.ml10{margin-left: .1rem}
.line_through{text-decoration: line-through}
.text-center{text-align: center}
