#app {
  // 主体区域
  .main-container {
    min-height: 100%;
    transition: margin-left 0.28s;
    margin-left: 1.8rem;

  } // 侧边栏
  .sidebar-container {
    //line-height : 0;
    transition: width 0.28s;
    width: 1.8rem!important;
    height: 100%;
    position: fixed;
    top: 0.6rem;
    bottom: 0;
    left: 0;
    z-index: 1001;
    a {
      display: inline-block;
      width: 100%;
    }
    .svg-icon {
      margin-right: 0.16rem;
    }
    .el-menu {
      border: none;
      width: 100%;
      display : flex ;
      flex-direction: column ;
      flex-wrap : wrap ;
      //float : left ;
      //overflow : hidden ;
    }
  }
  .hideSidebar {
    .sidebar-container,.sidebar-container .el-menu {
      width: 0.36rem!important;
      // overflow: inherit;
    }
    .main-container {
      margin-left: 0.36rem;
    }
  }
  .hideSidebar {
    .submenu-title-noDropdown {
      padding-left: 0.1rem!important;
      position: relative;
      span {
        height: 0;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        transition: opacity .3s cubic-bezier(.55, 0, .1, 1);
        opacity: 0;
        display: inline-block;
      }
      &:hover {
        span {
          display: block;
          border-radius: 0.03rem;
          z-index: 1002;
          width: 1.4rem;
          height: 0.5rem;
          visibility: visible;
          position: absolute;
          right: -1.45rem;
          text-align: left;
          text-indent: 0.20rem;
          top: 0;
          background-color: $subMenuBg!important;
          opacity: 1;
        }
      }
    }
    .el-submenu {
      &>.el-submenu__title {
        padding-left: 0.1rem!important;
        &>span {
          display: none;
        }
        .el-submenu__icon-arrow {
          display: none;
        }
      }
      .nest-menu {
        .el-submenu__icon-arrow {
          display: block!important;
        }
        span {
          display: inline-block!important;
        }
      }
    }
  }
  .nest-menu .el-submenu>.el-submenu__title,
  .el-submenu .el-menu-item {
    min-width: 1.80rem!important;
    height : 0.5rem ;
    background-color: $subMenuBg!important;
    &:hover {
      background-color: $menuHover!important;
    }
  }
  .el-menu--collapse .el-menu .el-submenu{
    min-width: 1.80rem!important;
  }
}
