@import './variables';

.tableBox{
  h1{
    margin : 0 ;
    padding : 0.2rem  0.4rem ;
    border-bottom : 1px solid #666 ;
    font-size : 0.22rem ;
    line-height : 0.4rem ;
  }

  .el-table{
    width: 90%;
    border-color:#aaa ;
    border-radius : 0.05rem ;
    margin : 0.4rem auto;
    .el-button{
      /*width : 0.9rem ;*/
      /*border-radius : 0.08rem ;*/
      font-size : 0.13rem ;
      padding : 0;
      margin : 0;
    }

  }

  .block2{
    padding : 0 0.3rem ;
    width : 90% ;
    margin : 0 auto;
    box-sizing: border-box;
    .totalItems{
      display : block ;
      height : 0.3rem ;
      color : #666 ;
      text-align : right ;
      margin-top : 0.3rem ;
    }
  }
  .searchOrder{
    height : 34px ;
  }
  .note{
    padding-left : 0.3rem ;
    width : 100% ;
    border-bottom : 1px solid #aaa ;
    height : 0.4rem ;
    line-height : 0.4rem ;
    font-size : 0.14rem ;
    text-indent : 0.32rem ;
    color : #999 ;
  }
  .mainPic{
    width : 0.6rem ;
    height : 0.6rem ;
  }
  .showPic{
    //width : 0.35rem ;
    height : 0.6rem ;
  }
  .el-dialog{
    .el-form{
      padding : 0  0.3rem ;
      .reason{
        width : 100% ;
        color : #666;
        display : inline-block ;
      }
      .el-textarea{
        width : 80% ;
      }
    }
  }
  .el-dialog {

  dl{
  width : 40% ;
  margin : 0 auto ;
  text-align : center ;

  dt{
  width : 100% ;
  height : 0.5rem ;
  line-height : 0.5rem ;
  color : #456 ;
  text-align : center ;

  }
  dd{
  max-height : 3rem ;
  width : 100% ;
  margin : 0 auto  ;
  display : flex;
  justify-content: center;
  align-items: center;
  img{
  max-width : 100% ;
  max-height : 2.5rem  ;
  }
  }
  }
  .noViewPic{
  height : 100px;
  line-height : 100px;
  }
  p {
  display: inline-block;
  margin-bottom: 0.1rem;
  }
  .dialog-footer{
  height : 1rem ;
  .el-button {
  width : 0.9rem ;
  padding : 0;
  text-align : center ;
  line-height : 0.35rem ;
  }
  }

  }
  .mask{
    position : fixed ;
    top : 0;
    left : 0 ;
    width : 100% ;
    height : 100% ;
    background : rgba(250,250,250,0.3) ;
    display : flex ;
    align-items: center;
    justify-content: center;
    z-index : 20000;
    img{
      max-height : 60% ;

    }
  }
}
.checkPic{
  display: flex ;
  flex-direction: row;
  justify-content: space-between;
}
.tableTitle{
  height : 40px ;
  margin :  0.4rem auto ;
  width : 95% ;
  background:$title ;
  box-sizing: border-box;
  /*border-top : 1px solid #aaa ;*/
  border-bottom : 1px solid #aaa ;
  h2{
    width : 50% ;
    height : 100% ;
    line-height : 40px ;
    font-weight : 100 ;
    float : left ;
    text-indent : 0.3rem ;
    color : #fff ;

  }
  .el-button{
    float : right ;
    margin : 5px 0.2rem;
    height : 30px ;
  }
}

